:root {
  --margin-top: 50px;

  --slot-height: 208px;

  --symbol-height: 96px;
  --symbol-width: var(--symbol-height);

  --reel-offset: calc(
    (var(--slot-height) / 2) - (var(--symbol-height) / 2) -
      (var(--symbol-height) * 1)
  );
}

/* ------------------------------------- */

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #190657;
  text-align: center;
}

.spin-button {
  position: absolute;
  z-index: 200;
  width: 110px;
  height: 340px;

  top: 338px;
  left: 50%;
  margin-left: 263px;

  cursor: pointer;
  background-image: url('https://raw.githubusercontent.com/thiagocolen/slot-machine/main/assets/images/slot-machine2.png');
  background-position: -666px -288px;
  /* border: solid 1px red; */
}

.spin-button-clicked {
  background-image: url('https://raw.githubusercontent.com/thiagocolen/slot-machine/main/assets/images/slot-machine3.png');
}

.slot-machine {
  position: absolute;
  z-index: 10;
  top: calc(var(--margin-top) + 246px);
  left: 50%;
  margin-left: -166px;

  height: var(--slot-height);
  overflow: hidden;
}

.center-line {
  position: absolute;
  z-index: 100;

  height: 0;
  width: 366px;

  top: 398px;
  left: 50%;
  margin-left: -171px;

  border: solid 1px darkred;
}

.reel {
  float: left;
  margin-top: var(--reel-offset);
  margin-right: 35px;
}

.symbol {
  height: var(--symbol-height);
  width: 96px;
}

.slot-machine-bg {
  position: absolute;
  z-index: 0;
  top: var(--margin-top);
  left: 50%;
  margin-left: -400px;
  width: 816px;
  height: 624px;
  background-image: url('https://raw.githubusercontent.com/thiagocolen/slot-machine/main/assets/images/slot-machine1.png');
}

.symbol_0 {
  background-image: url('https://raw.githubusercontent.com/thiagocolen/slot-machine/main/assets/images/slot-symbol4.png');
}

.symbol_1 {
  background-image: url('https://raw.githubusercontent.com/thiagocolen/slot-machine/main/assets/images/slot-symbol1.png');
}

.symbol_2 {
  background-image: url('https://raw.githubusercontent.com/thiagocolen/slot-machine/main/assets/images/slot-symbol2.png');
}

.symbol_3 {
  background-image: url('https://raw.githubusercontent.com/thiagocolen/slot-machine/main/assets/images/slot-symbol3.png');
}
