:root {
  --slot-height: 300px;

  --symbol-height: 96px;
  --symbol-width: var(--symbol-height);

  --reel-offset: calc(
    (var(--slot-height) / 2) - (var(--symbol-height) / 2) -
      (var(--symbol-height) * 1)
  );
}

/* ------------------------------------- */

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: lightgreen;
  text-align: center;
}

button {
  padding: 20px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: 0;
  cursor: pointer;
}

button:hover {
  background-color: green;
}

.slot-machine {
  position: absolute;
  z-index: 10;
  top: 100px;
  left: 50%;
  margin-left: -100px;

  height: var(--slot-height);
  overflow: hidden;
}

.center-line {
  border: solid 2px red;
  height: 0;
  width: 100%;
  margin-top: calc(var(--slot-height) / 2);
  position: absolute;
  z-index: 100;
}

.reel {
  width: 200px;
  float: left;
  margin-top: var(--reel-offset);
}

.symbol {
  height: var(--symbol-height);
  width: 96px;
}

.slot-machine-bg {
  position: absolute;
  z-index: 0;
  top: 100px;
  left: 50%;
  margin-left: -400px;
  width: 816px;
  height: 624px;
  background-image: url('https://raw.githubusercontent.com/thiagocolen/slot-machine/main/assets/images/slot-machine1.png');
}

.symbol_0 {
  background-image: url('https://raw.githubusercontent.com/thiagocolen/slot-machine/main/assets/images/slot-symbol4.png');
}

.symbol_1 {
  background-image: url('https://raw.githubusercontent.com/thiagocolen/slot-machine/main/assets/images/slot-symbol1.png');
}

.symbol_2 {
  background-image: url('https://raw.githubusercontent.com/thiagocolen/slot-machine/main/assets/images/slot-symbol2.png');
}

.symbol_3 {
  background-image: url('https://raw.githubusercontent.com/thiagocolen/slot-machine/main/assets/images/slot-symbol3.png');
}
